[submodule "externals/NISTfit"]
	path = externals/NISTfit
	url = https://github.com/usnistgov/NISTfit.git
[submodule "externals/CoolProp"]
	path = externals/CoolProp
	url = https://github.com/CoolProp/CoolProp
[submodule "externals/Catch"]
	path = externals/Catch
	url = https://github.com/philsquared/Catch.git
